<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>birthdaygift</name>
	<displayName><![CDATA[Birthday Gift]]></displayName>
	<version><![CDATA[2.1.6]]></version>
	<description><![CDATA[Offer your clients a birthday gift automatically.]]></description>
	<author><![CDATA[SLiCK-303]]></author>
	<tab><![CDATA[pricing_promotion]]></tab>
	<confirmUninstall>Are you sure you want to delete all settings and your logs?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>